/* .neon-loading-animate {
  @apply animate-[neon-loading_2s_linear_infinite];
} */
@keyframes neon-loading {
  0% {
    stroke-dasharray: 295;
    stroke-dashoffset: 295;
  }
  50% {
    stroke-dasharray: 295;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 295;
    stroke-dashoffset: -295;
  }
}

/* 按钮的基础样式 */
.rotate-button {
  transition: transform 2.3s ease; /* 添加平滑过渡效果 */
}

/* 鼠标悬停时旋转 */
.rotate-button:hover {
  transform: rotate(360deg); /* 旋转 360 度 */
}