@import "tailwindcss";
/* @import "tw-animate-css"; */
@import "rehype-callouts/theme/obsidian";
@plugin "./hero.ts";
/* Note: You may need to change the path to fit your project structure */
@source "../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    --background: hsl(64, 53%, 94%);
    --foreground: hsl(20 14.3% 4.1%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14.3% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-v: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);
    --primary: hsl(235, 85%, 66%);
    --primary-v: hsl(235, 85%, 66%);
    --primary-v2: hsl(235, 87%, 65%);
    --primary-foreground: hsl(60, 9.1% 97.8%);
    --primary-foreground-v: hsl(60, 2%, 48%);
    --secondary: hsl(60, 4.8%, 95.9%);
    --secondary-v: hsl(60, 4.8%, 95.9%);
    --secondary-foreground: hsl(24, 9.8% 10%);
    --muted: hsl(60, 4.8%, 95.9%);
    --muted-v: hsl(60, 4.8%, 95.9%);
    --muted-foreground: hsl(25, 5.3% 44.7%);
    --accent: hsl(60, 4.8%, 95.9%);
    --accent-v: hsl(60, 4.8%, 95.9%);
    --accent-foreground: hsl(24, 9.8% 10%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-v: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(60, 9.1% 97.8%);
    --border: hsl(20, 5.9% 90%);
    --border-v: hsl(20, 5.9% 90%);
    --input: hsl(20, 5.9% 90%);
    --ring: hsl(20, 14.3% 4.1%);
    --ring-v: hsl(20, 14.3% 4.1%);
    --chart-1: hsl(12, 76%, 61%);
    --chart-1-v: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);
    --radius: 0.5rem;
    --sidebar-background: hsl(64, 53%, 94%);
    --sidebar-foreground: hsl(240, 5.3%, 26.1%);
    --sidebar-primary: hsl(240, 5.9%, 10%);
    --sidebar-primary-foreground: hsl(0, 0%, 98%);
    --sidebar-accent: hsl(240, 4.8%, 95.9%);
    --sidebar-accent-foreground: hsl(240, 5.9%, 10%);
    --sidebar-border: hsl(220, 13%, 91%);
    --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  }
  .dark {
    --background: hsl(240 6% 10%);
    --foreground: hsl(60 9.1% 97.8%);
    --card: hsl(20 14.3% 4.1%);
    --card-foreground: hsl(60 9.1% 97.8%);
    --popover: hsl(224 72% 4.1);
    --popover-foreground: hsl(60 9.1% 97.8%);
    --primary: hsl(235 85% 66%);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(12 6.5% 15.1%);
    --secondary-foreground: hsl(60 9.1% 97.8%);
    --muted: hsl(12 6.5% 15.1%);
    --muted-foreground: hsl(24 5.4% 63.9%);
    --accent: hsl(12 6.5% 15.1%);
    --accent-foreground: hsl(60 9.1% 97.8%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(12 6.5% 15.1%);
    --input: hsl(12 6.5% 15.1%);
    --ring: hsl(24 5.7% 82.9%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
    --sidebar-background: hsl(224 72% 4.1 0);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scrollbar-width: thin;
  /* scrollbar-width: none; */
  /* scrollbar-color: hsl(var(--border)) hsl(240 6% 10); */
  scrollbar-color: hsl(var(--border)) transparent;
}

.gradient {
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a7,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008ead
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.bg-blue-pink {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    280deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(199, 180, 215, 0.5) 40%,
    rgba(148, 187, 233, 0.5) 100%
  );
}

.bg-blue-pink:is(.dark *) {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    280deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(185, 185, 225, 1) 40%,
    rgba(148, 187, 233, 1) 100%
  );
}

.bg-pink-blue {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    100deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(199, 180, 215, 0.5) 40%,
    rgba(148, 192, 233, 0.5) 100%
  );
}

.bg-pink-blue:is(.dark *) {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    100deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(185, 185, 225, 1) 40%,
    rgba(148, 192, 233, 1) 100%
  );
}

.bg-gray-purple {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(138, 137, 143, 0.5) 0%,
    rgba(131, 131, 184, 0.5) 20%,
    rgba(185, 151, 250, 0.5) 100%
  );
}

.bg-gray-purple:is(.dark *) {
  background: rgb(138, 137, 143);
  background: linear-gradient(
    258deg,
    rgba(138, 137, 143, 1) 0%,
    rgba(131, 131, 184, 1) 20%,
    rgba(185, 151, 250, 1) 100%
  );
}

/* Animation */
.bg-pink-blue-animated {
  background: linear-gradient(90deg, rgba(238, 174, 202, 0.5), rgba(148, 192, 233, 0.5));
  background-size: 400% 400%;
  animation: bg-pink-blue-animated 6s ease infinite;
}

.bg-pink-blue-animated:is(.dark *) {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1), rgba(148, 192, 233, 1));
  background-size: 400% 400%;
  animation: bg-pink-blue-animated 6s ease infinite;
}

@keyframes bg-pink-blue-animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Colors */
/* Text Colors */

.text-pink-blue-foreground {
  @apply text-primary-300;
}

.text-pink-blue-foreground:is(.dark *) {
  @apply text-primary-400;
}

/* .text-white:is(.dark *) {
  @apply text-black;
} */

svg.text-white:hover,
a .text-white:hover {
  @apply text-primary-300;
}

svg.text-white:hover:is(.dark *),
a .text-white:hover:is(.dark *) {
  @apply text-primary-400;
}

.h-gradient:is(.dark *) {
  background: linear-gradient(
    0deg,
    hsl(240deg 6% 10%) 0%,
    hsl(232deg 13% 13%) 17%,
    hsl(225deg 20% 17%) 28%,
    hsl(220deg 27% 20%) 37%,
    hsl(215deg 34% 22%) 44%,
    hsl(213deg 34% 25%) 51%,
    hsl(215deg 28% 29%) 57%,
    hsl(216deg 23% 33%) 63%,
    hsl(218deg 19% 37%) 68%,
    hsl(219deg 16% 41%) 73%,
    hsl(256deg 10% 46%) 78%,
    hsl(308deg 9% 49%) 82%,
    hsl(341deg 14% 55%) 85%,
    hsl(3deg 17% 60%) 89%,
    hsl(12deg 19% 61%) 91%,
    hsl(11deg 18% 62%) 94%,
    hsl(11deg 17% 63%) 96%,
    hsl(10deg 15% 64%) 98%,
    hsl(10deg 13% 65%) 100%
  );
  /* @apply bg-gradient-to-r from-pink-500 to-blue-500; */
}
.f-o-gradient:is(.dark *) {
  background: linear-gradient(
    180deg,
    hsla(240deg, 6%, 10%, 0%),
    hsla(232deg, 13%, 13%, 17%),
    hsl(225deg, 20%, 17%, 28%),
    hsl(220deg, 27%, 20%, 37%),
    hsl(215deg, 34%, 22%, 44%),
    hsl(213deg, 34%, 25%, 51%),
    hsl(215deg, 28%, 29%, 57%),
    hsl(216deg, 23%, 33%, 63%),
    hsl(218deg, 19%, 37%, 68%),
    hsl(219deg, 16%, 41%, 73%),
    hsl(256deg, 10%, 46%, 78%),
    hsl(308deg, 9%, 49%, 82%),
    hsl(341deg, 14%, 55%, 85%),
    hsl(3deg, 17%, 60%, 89%),
    hsl(12deg, 19%, 61%, 91%),
    hsl(11deg, 18%, 62%, 94%),
    hsl(11deg, 17%, 63%, 96%),
    hsl(10deg, 15%, 64%, 98%),
    hsl(10deg, 13%, 65%, 100%)
  );
}
.f-gradient:is(.dark *) {
  background-image: linear-gradient(
    180deg,
    hsla(240, 6%, 10%, 0%),
    hsla(232, 13%, 13%, 17%),
    hsla(225, 20%, 17%, 28%),
    hsla(220, 27%, 20%, 37%),
    hsla(215, 34%, 22%, 44%),
    hsla(213, 34%, 25%, 51%),
    hsla(215, 28%, 29%, 57%),
    hsla(216, 23%, 33%, 63%),
    hsla(218, 19%, 37%, 68%),
    hsla(219, 16%, 41%, 73%),
    hsla(256, 10%, 46%, 78%),
    hsla(308, 09%, 49%, 82%),
    hsla(341, 14%, 55%, 85%),
    hsla(3, 17%, 60%, 0.89),
    hsla(12, 19%, 61%, 91%),
    hsla(11, 18%, 62%, 94%),
    hsla(11, 17%, 63%, 96%),
    hsla(10, 15%, 64%, 98%),
    hsla(10, 13%, 65%, 100%)
  );
}

/* animation */
/* .neon-loading-animate {
  @apply animate-[neon-loading_2s_linear_infinite];
} */
@keyframes neon-loading {
  0% {
    stroke-dasharray: 295;
    stroke-dashoffset: 295;
  }
  50% {
    stroke-dasharray: 295;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 295;
    stroke-dashoffset: -295;
  }
}

/* 按钮的基础样式 */
.rotate-button {
  transition: transform 2.3s ease; /* 添加平滑过渡效果 */
}

/* 鼠标悬停时旋转 */
.rotate-button:hover {
  transform: rotate(360deg); /* 旋转 360 度 */
}

/* md */
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.prose {
  a {
    text-decoration: none;
    border-bottom: 1px solid #fbcfe8;
    @apply text-pink-400 border-b-pink-500 shadow-[0_0_0_0.2rem_text-transparent] hover:text-zinc-900 hover:bg-pink-200 rounded-[1px] hover:shadow-[0_0_0_0.2rem_#fbcfe8] hover:border-b-pink-200;
  }
  p > a:has(img) {
    text-decoration: none; /* 去掉下划线 */
    border-bottom: none; /* 去掉下划线 */
    @apply hover:bg-transparent hover:shadow-none;
  }
  p > img,
  p > a > img {
    @apply inline-block;
  }
  .heading-element {
    position: relative;
  }
  .heading-element:hover .anchor,
  .anchor:hover {
    opacity: 1;
  }
  .anchor {
    text-decoration: none !important;
    @apply absolute !no-underline hover:shadow-none hover:bg-transparent hover:text-[#f472b6];
    top: 50%;
    margin-left: -20px;
    padding-right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease; /* 添加过渡效果 */
    font-size: 1.25em;
    /* color: #707681;  */
    color: #f472b6;
  }
  *:hover > .anchor a {
    @apply visible;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold mt-6 mb-4 leading-[1.25];
    color: #fdfdfd;
    text-shadow:
      0 0 2px #001716,
      0 0 3px #03edf975,
      0 0 5px #03edf975,
      0 0 8px #03edf975;
    /* color: #8e9057;
    text-shadow: 0 0 2px #cbcfb7, 0 0 8px #f1c91475, 0 0 2px #f3cf0575; */
    mark {
      /* @apply bg-yellow-200 dark:bg-yellow-400; */
      color: inherit;
    }
  }
  table {
    @apply my-4 /* text-neutral-800 dark:text-neutral-200 */;
    border-radius: 0.5rem;
    overflow: hidden;
    border-collapse: collapse;
    thead {
      @apply border-y-1 border-border;
    }
    tbody {
      @apply border-b-1;
      th {
        /* @apply bg-neutral-200 dark:bg-neutral-700 text-neutral-900 dark:text-neutral-100; */
        padding: 0.5rem 1rem;
        font-weight: 600;
        text-align: left;
      }
      td {
        /* @apply bg-white dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100; */
        padding: 0.5rem 1rem;
        /* border-top: 1px solid #eaeaea; */
      }
    }
  }
}
.dark {
  .prose {
    .anchor {
      text-decoration: none !important;
      @apply absolute !no-underline hover:shadow-none hover:bg-transparent hover:text-[#fbcfe8];
      top: 50%;
      margin-left: -20px;
      padding-right: 10px;
      cursor: pointer;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s ease; /* 添加过渡效果 */
      font-size: 1.25em;
      /* color: #707681;  */
      color: #fbcfe8;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid #fbcfe8;
      @apply text-pink-200 border-b-pink-300 shadow-[0_0_0_0.2rem_text-transparent] hover:text-zinc-900 hover:bg-pink-200 rounded-[1px] hover:shadow-[0_0_0_0.2rem_#fbcfe8] hover:border-b-pink-200;
    }
    p > a:has(img) {
      text-decoration: none; /* 去掉下划线 */
      border-bottom: none; /* 去掉下划线 */
      @apply hover:bg-transparent hover:shadow-none;
    }
    p > img,
    p > a > img {
      @apply inline-block;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold mt-6 mb-4 leading-[1.25];
      /* color: #fdfdfd;
      text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; */
      color: #f4eee4;
      text-shadow:
        0 0 2px #393a33,
        0 0 8px #f1c91475,
        0 0 2px #f3cf0575;
      mark {
        /* @apply bg-yellow-200 dark:bg-yellow-400; */
        color: inherit;
      }
    }
    pre foreignObject p:is(.dark *) {
      /* @apply ; */
      color: rgb(38 38 38 / var(--tw-text-opacity, 1));
    }
    .mermaid-wrapper foreignObject div > span.edgeLabel p:is(.dark *) {
      fill: rgb(204, 204, 204);
      background: #ccc !important;
    }
  }
}

/* h2, h3, h4, h5, h6 添加序号 */
.prose {
  /* 初始化所有计数器 */
  counter-reset: h2-counter h3-counter h4-counter h5-counter h6-counter;
  /* counter-reset: h2-section h3-section h4-section h5-section h6-section; */
  counter-reset: h2-section h3-section h4-section h5-section h6-section;
}

/* h2 标题 */
.prose h2 {
  counter-increment: h2-counter;
  /* counter-increment: h2-section; */
  counter-reset: h3-counter h4-counter h5-counter h6-counter; /* 重置所有子级计数器 */
  counter-set: h3-counter h4-counter h5-counter h6-counter; /* 重置所有子级计数器 */
  /* counter-set: h3-section h4-section h5-section h6-section; */
}

.prose h2 .heading-text::before {
  content: counter(h2-counter) " ";
  @apply font-semibold;
}

/* h3 标题 */
.prose h3 {
  counter-increment: h3-counter; /* 全局递增 h3-counter */
  counter-reset: h4-counter h5-counter h6-counter;
}

.prose h3 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) " ";
  @apply font-semibold;
}

/* h4 标题 */
.prose h4 {
  counter-increment: h4-counter;
  counter-reset: h5-counter h6-counter;
}

.prose h4 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
  @apply font-semibold;
}

/* h5 标题 */
.prose h5 {
  counter-increment: h5-counter;
  counter-reset: h6-counter;
}

.prose h5 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "."
    counter(h5-counter) " ";
  @apply font-semibold;
}

/* h6 标题 */
.prose h6 {
  counter-increment: h6-counter;
}

.prose h6 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "."
    counter(h5-counter) "." counter(h6-counter) " ";
  @apply font-semibold;
}
/* ------------------------------------------------------------------- */

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}
.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}
.prose {
  .MathJax svg,
  svg.lucide {
    @apply inline-block;
  }
  svg[aria-roledescription="flowchart-v2"] {
    @apply block mx-auto;
  }
  .node rect,
  g .default {
    /* fill: #ECECFF; */
    @apply fill-[#ECECFF] dark:!fill-[rgb(51,51,51)];
  }
  .edgeLabel p {
    @apply bg-[rgba(232,232,232,0.8)] dark:!bg-[rgba(51,51,51,0.8)];
  }
  caption {
    @apply block;
  }
}

/* .prose {
  overflow: visible; 确保父元素不会裁剪子元素 
} */

.prose figure {
  --shiki-dark: #adbac7;
  --shiki-light: #24292e;
  --shiki-dark-bg: #22272e;
  --shiki-dark-bg-rgb: 34, 39, 46;
  --shiki-light-bg: #fff;
  --shiki-light-bg-rgb: 255, 255, 255;
}

.prose pre[data-theme] {
  /* @apply bg-transparent; */
}

.prose {
  pre {
    @apply !p-0 /* my-4 */ rounded-md;
  }
  pre code {
    /* 防止子元素宽度溢出 */
    @apply py-3 rounded-md grid overflow-x-auto;
  }
  figure:has([data-rehype-pretty-code-title]) pre code,
  figure:has([data-rehype-pretty-code-title]) pre {
    @apply rounded-t-none;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
  }
  figure:has([data-rehype-pretty-code-caption]) pre code,
  figure:has([data-rehype-pretty-code-caption]) pre {
    @apply rounded-b-none;
  }
  figure {
    [data-rehype-pretty-code-title],
    [data-rehype-pretty-code-caption] {
      @apply bg-[rgba(var(--shiki-dark-bg-rgb),0.1)];
    }
    [data-rehype-pretty-code-title] {
      @apply text-lg font-semibold rounded-t-md px-4;
    }
    [data-rehype-pretty-code-caption] {
      @apply font-normal rounded-b-md px-4;
    }
  }
}

.prose pre [data-line] {
  @apply px-4 border-l-2 border-l-transparent;
}

.prose code[data-theme] {
  @apply bg-transparent;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  /* background-color: var(--shiki-light-bg); */
  /* background-color: hsl(60, 47%, 97%); */
}
/* 行高亮 */
.prose pre [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.3);
  @apply border-l-blue-400;
}

@media (prefers-color-scheme: dark) {
  .dark {
    .prose {
      figure {
        [data-rehype-pretty-code-title],
        [data-rehype-pretty-code-caption] {
          @apply bg-[rgba(var(--shiki-light-bg-rgb),0.1)];
        }
      }
    }
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      /* @apply p-0.5; */
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
    code[data-theme*=" "] span span {
      @apply bg-transparent;
    }
    /* 行高亮 */
    .prose pre {
      [data-highlighted-chars],
      [data-highlighted-line] {
        background: rgba(200, 200, 255, 0.1);
        @apply border-l-blue-400;
      }
      span code[data-theme],
      mark[data-chars-id="g"],
      span[data-highlighted-line-id="g"] {
        @apply bg-green-400/20 border-l-green-400;
      }
      mark[data-chars-id="r"],
      span[data-highlighted-line-id="r"] {
        @apply bg-red-400/20 border-l-red-400;
      }
      mark[data-chars-id="y"],
      span[data-highlighted-line-id="y"] {
        @apply bg-yellow-400/20 border-l-yellow-400;
      }

      span[data-highlighted-line-id="b"] {
        @apply bg-blue-400/20 border-l-blue-400;
      }

      mark[data-chars-id="b"] {
        @apply !bg-blue-400/20;
        box-shadow: 0 0 0 2px var(--color-blue-400) / 20;
      }
    }
    /* 代码块高亮 */
    .prose span code > span,
    .prose [data-highlighted-chars] {
      /* background: rgba(200,200,255,0.1); */
      @apply bg-[rgba(200,200,255,0.1)] /* !bg-zinc-600/50 */ rounded;
      /* box-shadow: 0 0 0 2px rgb(82 82 91 / 0.5); */
      box-shadow: 0 0 0 2px rgba(200, 200, 255, 0.1);
    }
  }
}

.prose pre mark[data-chars-id="g"],
.prose pre span[data-highlighted-line-id="g"] {
  @apply bg-green-400/20 border-l-green-400;
}
.prose pre mark[data-chars-id="r"],
.prose pre span[data-highlighted-line-id="r"] {
  @apply bg-red-400/20 border-l-red-400;
}
.prose pre mark[data-chars-id="y"],
.prose pre span[data-highlighted-line-id="y"] {
  @apply bg-yellow-400/20 border-l-yellow-400;
}

.prose pre span[data-highlighted-line-id="b"] {
  @apply bg-blue-400/20 border-l-blue-400;
}

.prose pre mark[data-chars-id="b"] {
  @apply !bg-blue-400/20;
  box-shadow: 0 0 0 2px var(--color-blue-400) / 20;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}
