[submodule "elysia_demo"]
	path = elysia_demo
	url = git@github.com:Nahida-aa/elysia_demo.git
[submodule "spring_demo"]
	path = spring_demo
	url = git@github.com:Nahida-aa/spring_demo.git
[submodule "fastapi_demo"]
	path = fastapi_demo
	url = git@github.com:Nahida-aa/fastapi_demo.git
[submodule "hono_demo"]
	path = hono_demo
	url = git@github.com:Nahida-aa/hono_demo.git
