.bg-blue-pink {
    background: rgb(238, 174, 202);
    background: linear-gradient(
      280deg,
      rgba(238, 174, 202, 0.5) 0%,
      rgba(199, 180, 215, 0.5) 40%,
      rgba(148, 187, 233, 0.5) 100%
    );
  }
  
  .bg-blue-pink:is(.dark *) {
    background: rgb(238, 174, 202);
    background: linear-gradient(
      280deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(185, 185, 225, 1) 40%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  
  .bg-pink-blue {
    background: rgb(238, 174, 202);
    background: linear-gradient(
      100deg,
      rgba(238, 174, 202, 0.5) 0%,
      rgba(199, 180, 215, 0.5) 40%,
      rgba(148, 192, 233, 0.5) 100%
    );
  }
  
  .bg-pink-blue:is(.dark *) {
    background: rgb(238, 174, 202);
    background: linear-gradient(
      100deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(185, 185, 225, 1) 40%,
      rgba(148, 192, 233, 1) 100%
    );
  }
  
  .bg-gray-purple {
    background: rgb(138, 137, 143);
    background: linear-gradient(
      258deg,
      rgba(138, 137, 143, 0.5) 0%,
      rgba(131, 131, 184, 0.5) 20%,
      rgba(185, 151, 250, 0.5) 100%
    );
  }
  
  .bg-gray-purple:is(.dark *) {
    background: rgb(138, 137, 143);
    background: linear-gradient(
      258deg,
      rgba(138, 137, 143, 1) 0%,
      rgba(131, 131, 184, 1) 20%,
      rgba(185, 151, 250, 1) 100%
    );
  }
  
  /* Animation */
  .bg-pink-blue-animated {
    background: linear-gradient(90deg, rgba(238, 174, 202, 0.5), rgba(148, 192, 233, 0.5));
    background-size: 400% 400%;
    animation: bg-pink-blue-animated 6s ease infinite;
  }
  
  .bg-pink-blue-animated:is(.dark *) {
    background: linear-gradient(90deg, rgba(238, 174, 202, 1), rgba(148, 192, 233, 1));
    background-size: 400% 400%;
    animation: bg-pink-blue-animated 6s ease infinite;
  }
  
  @keyframes bg-pink-blue-animated {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* Text Colors */

.text-pink-blue-foreground {
  @apply text-primary-300;
}

.text-pink-blue-foreground:is(.dark *) {
  @apply text-primary-400;
}

/* .text-white:is(.dark *) {
  @apply text-black;
} */

svg.text-white:hover,
a .text-white:hover {
  @apply text-primary-300;
}

svg.text-white:hover:is(.dark *),
a .text-white:hover:is(.dark *) {
  @apply text-primary-400;
}

.h-gradient:is(.dark *) {
  background:linear-gradient(
            0deg,
            hsl(240deg 6% 10%) 0%,
            hsl(232deg 13% 13%) 17%,
            hsl(225deg 20% 17%) 28%,
            hsl(220deg 27% 20%) 37%,
            hsl(215deg 34% 22%) 44%,
            hsl(213deg 34% 25%) 51%,
            hsl(215deg 28% 29%) 57%,
            hsl(216deg 23% 33%) 63%,
            hsl(218deg 19% 37%) 68%,
            hsl(219deg 16% 41%) 73%,
            hsl(256deg 10% 46%) 78%,
            hsl(308deg 9% 49%) 82%,
            hsl(341deg 14% 55%) 85%,
            hsl(3deg 17% 60%) 89%,
            hsl(12deg 19% 61%) 91%,
            hsl(11deg 18% 62%) 94%,
            hsl(11deg 17% 63%) 96%,
            hsl(10deg 15% 64%) 98%,
            hsl(10deg 13% 65%) 100%
          );
  /* @apply bg-gradient-to-r from-pink-500 to-blue-500; */
}
.f-o-gradient:is(.dark *) {
  background:linear-gradient(
    180deg,
    hsla(240deg, 6%, 10%, 0%),
    hsla(232deg, 13%, 13%, 17%),
    hsl(225deg, 20%, 17%, 28%),
    hsl(220deg, 27%, 20%, 37%),
    hsl(215deg, 34%, 22%, 44%),
    hsl(213deg, 34%, 25%, 51%),
    hsl(215deg, 28%, 29%, 57%),
    hsl(216deg, 23%, 33%, 63%),
    hsl(218deg, 19%, 37%, 68%),
    hsl(219deg, 16%, 41%, 73%),
    hsl(256deg, 10%, 46%, 78%),
    hsl(308deg, 9% ,49% ,82%),
    hsl(341deg, 14%, 55%, 85%),
    hsl(3deg, 17%, 60%, 89%),
    hsl(12deg, 19%, 61%, 91%),
    hsl(11deg, 18%, 62%, 94%),
    hsl(11deg, 17%, 63%, 96%),
    hsl(10deg, 15%, 64%, 98%),
    hsl(10deg, 13%, 65%, 100%)
  );
}
.f-gradient:is(.dark *) {
  background-image: linear-gradient(
      180deg,
      hsla(240, 6%, 10%, 0%),    
      hsla(232, 13%, 13%, 17%),
      hsla(225, 20%, 17%, 28%),
      hsla(220, 27%, 20%, 37%),
      hsla(215, 34%, 22%, 44%),
      hsla(213, 34%, 25%, 51%),
      hsla(215, 28%, 29%, 57%),
      hsla(216, 23%, 33%, 63%),
      hsla(218, 19%, 37%, 68%),
      hsla(219, 16%, 41%, 73%),
      hsla(256, 10%, 46%, 78%),
      hsla(308, 09%, 49%, 82%),
      hsla(341, 14%, 55%, 85%),
      hsla(3, 17%, 60%, 0.89),
      hsla(12, 19%, 61%, 91%),
      hsla(11, 18%, 62%, 94%),
      hsla(11, 17%, 63%, 96%),
      hsla(10, 15%, 64%, 98%),
      hsla(10, 13%, 65%, 100%)
    );
}