@keyframes flicker {
    0%, 100% {
        box-shadow: 0 0 2px #0e002000, 0 0 7px #00f6ff75, 0 0 5px #00f6ff75, 0 0 18px #00f6ff75;
    }
    50% {
      box-shadow: 0 0 2px #0e002000, 0 0 7px #780afe75, 0 0 5px #780afe75, 0 0 18px #780afe75;
    }
  }
  
.flicker {
animation: flicker 3s infinite;
}