# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="xxx"
GITHUB_TOKEN="xxx"

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=3ffOGlXu1nK8AIwLDOLH4cj4ZlvlOg7olLckbrnUClE=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN="xxx"

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
TEST_POSTGRES_URL=postgres://postgres:246369@localhost:5432/chat
POSTGRES_URL="xxx"