PG_HOST=localhost
PG_PORT=5432
PG_USER = postgres
PG_PASSWORD = 246369
PG_DB_NAME = l
DATABASE_URL = "postgresql://postgres:246369@localhost:5432/l?client_encoding=UTF8"
# 默认端口是5432, 默认的话可以省略
DATABASE_MIN_CONNECTIONS=0
DATABASE_MAX_CONNECTIONS=16