.prose {
  a {
    text-decoration: none;
    border-bottom: 1px solid #fbcfe8;
    @apply text-pink-400 border-b-pink-500 shadow-[0_0_0_0.2rem_text-transparent] hover:text-zinc-900 hover:bg-pink-200 rounded-[1px] hover:shadow-[0_0_0_0.2rem_#fbcfe8] hover:border-b-pink-200;
  }
  p>a:has(img){
    text-decoration: none; /* 去掉下划线 */
    border-bottom: none; /* 去掉下划线 */
    @apply hover:bg-transparent hover:shadow-none;
  }
  p>img,
  p>a>img{
    @apply inline-block;
  }
  .heading-element {
    position: relative;
  }
  .heading-element:hover .anchor,
  .anchor:hover {
    opacity: 1;
  }
  .anchor  {
    text-decoration: none !important;
    @apply absolute !no-underline hover:shadow-none 
    hover:bg-transparent 
    hover:text-[#f472b6]
    ;
    top: 50%;
    margin-left: -20px;
    padding-right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease; /* 添加过渡效果 */
    font-size: 1.25em; 
    /* color: #707681;  */
    color: #f472b6; 
  }
  *:hover>.anchor a {
    @apply visible ;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-semibold mt-6 mb-4 leading-[1.25];
    color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
    /* color: #8e9057;
    text-shadow: 0 0 2px #cbcfb7, 0 0 8px #f1c91475, 0 0 2px #f3cf0575; */
    mark{
      /* @apply bg-yellow-200 dark:bg-yellow-400; */
      color: inherit;
    }
  }
  table {
    @apply my-4 
    /* text-neutral-800 dark:text-neutral-200 */
    ;
    border-radius: 0.5rem;
    overflow: hidden;
    border-collapse: collapse;
    thead {
      @apply border-y-1 border-border;
    }
    tbody {
      @apply border-b-1;
      th {
        /* @apply bg-neutral-200 dark:bg-neutral-700 text-neutral-900 dark:text-neutral-100; */
        padding: 0.5rem 1rem;
        font-weight: 600;
        text-align: left;
      }
      td {
        /* @apply bg-white dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100; */
        padding: 0.5rem 1rem;
        /* border-top: 1px solid #eaeaea; */
      }
    }
  };
}
.dark {
  .prose {
    .anchor  {
      text-decoration: none !important;
      @apply absolute !no-underline hover:shadow-none 
      hover:bg-transparent 
      hover:text-[#fbcfe8]
      ;
      top: 50%;
      margin-left: -20px;
      padding-right: 10px;
      cursor: pointer;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s ease; /* 添加过渡效果 */
      font-size: 1.25em; 
      /* color: #707681;  */
      color: #fbcfe8; 
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid #fbcfe8;
      @apply text-pink-200 border-b-pink-300 shadow-[0_0_0_0.2rem_text-transparent] hover:text-zinc-900 hover:bg-pink-200 rounded-[1px] hover:shadow-[0_0_0_0.2rem_#fbcfe8] hover:border-b-pink-200;
    }
    p>a:has(img){
      text-decoration: none; /* 去掉下划线 */
      border-bottom: none; /* 去掉下划线 */
      @apply hover:bg-transparent hover:shadow-none;
    }
    p>img,
    p>a>img{
      @apply inline-block;
    }
    h1,h2,h3,h4,h5,h6 {
      @apply font-semibold mt-6 mb-4 leading-[1.25];
      /* color: #fdfdfd;
      text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; */
      color: #f4eee4;
      text-shadow: 0 0 2px #393a33, 0 0 8px #f1c91475, 0 0 2px #f3cf0575;
      mark{
        /* @apply bg-yellow-200 dark:bg-yellow-400; */
        color: inherit;
      }
    }
    pre foreignObject p:is(.dark *) {
      /* @apply ; */
      color: rgb(38 38 38 / var(--tw-text-opacity, 1));
    }
    .mermaid-wrapper foreignObject div> span.edgeLabel p:is(.dark *) {
      fill: rgb(204, 204, 204);
      background: #CCC !important;
    }
  }
}


/* h2, h3, h4, h5, h6 添加序号 */
.prose {
  /* 初始化所有计数器 */
  counter-reset: h2-counter h3-counter h4-counter h5-counter h6-counter;
  /* counter-reset: h2-section h3-section h4-section h5-section h6-section; */
  counter-reset: h2-section h3-section h4-section h5-section h6-section;
}

/* h2 标题 */
.prose h2 {
  counter-increment: h2-counter;
  /* counter-increment: h2-section; */
  counter-reset: h3-counter h4-counter h5-counter h6-counter; /* 重置所有子级计数器 */
  counter-set: h3-counter h4-counter h5-counter h6-counter; /* 重置所有子级计数器 */
  /* counter-set: h3-section h4-section h5-section h6-section; */
}

.prose h2 .heading-text::before {
  content: counter(h2-counter) " ";
  @apply font-semibold;
}

/* h3 标题 */
.prose h3 {
  counter-increment: h3-counter; /* 全局递增 h3-counter */
  counter-reset: h4-counter h5-counter h6-counter;
}

.prose h3 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) " ";
  @apply font-semibold;
}

/* h4 标题 */
.prose h4 {
  counter-increment: h4-counter;
  counter-reset: h5-counter h6-counter;
}

.prose h4 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
  @apply font-semibold;
}

/* h5 标题 */
.prose h5 {
  counter-increment: h5-counter;
  counter-reset: h6-counter;
}

.prose h5 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) " ";
  @apply font-semibold;
}

/* h6 标题 */
.prose h6 {
  counter-increment: h6-counter;
}

.prose h6 .heading-text::before {
  content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) "." counter(h6-counter) " ";
  @apply font-semibold;
}
/* ------------------------------------------------------------------- */

.prose p {
@apply my-4 text-neutral-800 dark:text-neutral-200;
}
.prose ul {
@apply list-disc pl-6;
}

.prose ol {
@apply list-decimal pl-6;
}
.prose {
  .MathJax svg,
  svg.lucide {
    @apply inline-block;
  }
  svg[aria-roledescription="flowchart-v2"] {
    @apply block mx-auto;
  }
  .node rect,
  g .default {
    /* fill: #ECECFF; */
    @apply fill-[#ECECFF] dark:!fill-[rgb(51,51,51)];
  }
  .edgeLabel p {
    @apply bg-[rgba(232,232,232,0.8)] dark:!bg-[rgba(51,51,51,0.8)];
  }
  caption {
    @apply block;
  }
}