.prose code {
  /* @apply px-1 py-0.5 rounded-lg dark:bg-[#26233572]; */
  @apply px-1 py-0.5 rounded-lg dark:bg-[#58556d72];
}

/* TODO: test */
pre,
.prose .katex-display,
.prose pre {
  /* @apply bg-neutral-50 dark:bg-[#26233548] rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 my-2 text-sm relative p-0.5 ; */
  @apply bg-neutral-50 dark:bg-[#26233548] rounded-lg border border-neutral-200 dark:border-neutral-900 my-2 text-sm relative p-0.5 ;
  counter-reset: line-number;

}
.prose .katex-display{
  @apply py-2;
}

.prose pre code {
  @apply p-2 mx-0.5 block dark:bg-[#26233500];
  /* border: initial; */
}

.prose code span {
  @apply font-normal;
  /* opacity: 1; */
}

/* .prose pre code .sh__line {
  display: block;
  position: relative;
  padding-left: 4ch;
}

.prose pre code .sh__line::before {
  content: counter(line-number);
  counter-increment: line-number;
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 0.5em;
  text-align: right;
  color: #888;
  width: 3ch; 
} */

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}